footer{
    background: @orange;
    margin-top: 40px;
    text-align: center;
    .box(30px);
    
    @media @tablet{
        width: 90%;
        margin: 40px auto;
    }

    h4{
        font-family: 'Supermercado One', cursive;
        padding-top: 10px;
    }

    p{
        padding: 10px 0px;
        font-size: 1.5rem;
        
    }
}
