.text-center{
    text-align: center;
}

section{
    font-family: 'Satisfy', cursive;
    color: @lable-text;

    div{
        h3{
            @media @small-tablet{
                font-size: 2rem;
            }
        }
    }

    .section-text{
        color: @brown;
        text-align: center;
        font-family: 'Supermercado One', cursive;
        font-size: 2.2rem;
        padding: 10px 0px;
            
        @media @tablet{
            font-size: 2rem;
        }
    }
}

.button1{
    font-family: 'Lobster', cursive;
    width: 200px;
    height: 42px;
    margin: 10px 0px;
    background: @button-color;
    .box(25px);
    
}

.button2{
    font-family: 'Supermercado One', cursive;
    font-size: 1.5rem;
    background: @title-color;
    width: 100%;
    height: 35px;
    .box(20px);

    &:hover{
        color: @text-color;
    }
}
img{
    width: 200px;
    margin: 10px 0px;
    .box(20px);
    
    @media @small-tablet{
        width: 150px;    
    }

    @media @phone{
       width: 125px;    
    }
    
}

.flex{
    .flexContainer(row, space-between, center);
    text-align: center;
    margin-top: 30px;

    @media @tablet{
        justify-content: space-around;    
    }
}

.mortality{
    position: absolute;
    display: none;
    background:rgba(128,128,128,.7);
    margin-top: 10px;
    padding-top: 150px;
    border: 1px solid @borders;
    border-radius: 20px;
    width:200px;
    height: 354px;
    font-size: 5rem;
    text-shadow: 0 0 4px black;


    @media @small-tablet{
        width: 150px;
        height: 266px;
        padding-top: 100px;
    } 

    @media @phone{
        width: 125px;
        height: 222px;
        padding-top: 80px;
    }
}

.alive{
    color: @blue;
}

.spacer{
    margin-top: 10px;
}

