.text-center{
    text-align: center;
}

button{
    width: 200px;
    height: 42px;
    margin: 10px 0px;
    background: @button-color;
    border: 1px solid @borders;
    border-radius: 25px;
    cursor: pointer;
}
img{
    width: 200px;
    margin: 10px 0px;
}

.flex{
    .flexContainer(row, space-between, center);
    text-align: center;
    margin-top: 30px;
}


